---
Checks: 'clang-diagnostic-*,clang-analyzer-*,readability-*,-readability-else-after-return,-readability-redundant-parentheses,-readability-isolate-declaration,-readability-trailing-comma'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: ''
FormatStyle: none
User: slobod
CheckOptions:
  readability-ambiguous-smartptr-reset-call.SmartPointers: '::std::shared_ptr;::std::unique_ptr;::boost::shared_ptr'
  readability-avoid-const-params-in-decls.IgnoreMacros: 'false'
  readability-avoid-return-with-void-value.IgnoreMacros: 'false'
  readability-avoid-return-with-void-value.StrictMode: 'true'
  readability-braces-around-statements.ShortStatementLines: '0'
  readability-const-return-type.IgnoreMacros: 'false'
  readability-container-data-pointer.IgnoredContainers: ''
  readability-container-size-empty.ExcludedComparisonTypes: '::std::array'
  readability-duplicate-include.IgnoredFilesList: ''
  readability-enum-initial-value.AllowExplicitSequentialInitialValues: 'true'
  readability-enum-initial-value.AllowExplicitZeroFirstInitialValue: 'true'
  readability-function-cognitive-complexity.DescribeBasicIncrements: 'true'
  readability-function-cognitive-complexity.IgnoreMacros: 'true'
  readability-function-cognitive-complexity.Threshold: '25'
  readability-function-size.BranchThreshold: none
  readability-function-size.CountMemberInitAsStmt: 'true'
  readability-function-size.LineThreshold: none
  readability-function-size.NestingThreshold: none
  readability-function-size.ParameterThreshold: none
  readability-function-size.StatementThreshold: '800'
  readability-function-size.VariableThreshold: none
  readability-identifier-length.IgnoredBindingNames: '^[_]$'
  readability-identifier-length.IgnoredExceptionVariableNames: '^[e]$'
  readability-identifier-length.IgnoredLoopCounterNames: '^[ijk_]$'
  readability-identifier-length.IgnoredParameterNames: '^[n]$'
  readability-identifier-length.IgnoredVariableNames: ''
  readability-identifier-length.LineCountThreshold: '0'
  readability-identifier-length.MinimumBindingNameLength: '1'
  readability-identifier-length.MinimumExceptionNameLength: '1'
  readability-identifier-length.MinimumLoopCounterNameLength: '1'
  readability-identifier-length.MinimumParameterNameLength: '1'
  readability-identifier-length.MinimumVariableNameLength: '1'

  readability-identifier-naming.AggressiveDependentMemberLookup: 'false'
  readability-identifier-naming.CheckAnonFieldInParent: 'false'
  readability-identifier-naming.ClassCase: 'CamelCase'
  readability-identifier-naming.ClassIgnoredRegexp: '(seqN|seq|skipN|firstN|lastN|complement)'
  readability-identifier-naming.ConceptCase: 'CamelCase'
  readability-identifier-naming.EnumCase: 'CamelCase'
  readability-identifier-naming.FunctionCase: 'lower_case'
  readability-identifier-naming.FunctionIgnoredRegexp: '(.*[12]D)$'
  readability-identifier-naming.GetConfigPerFile: 'true'
  readability-identifier-naming.GlobalVariableIgnoredRegexp: '(Zero|One|NegOne|Thousand|Million|Billion)'
  readability-identifier-naming.IgnoreFailedSplit: 'false'
  readability-identifier-naming.IgnoreMainLikeFunctions: 'false'
  readability-identifier-naming.LocalVariableCase: 'lower_case'
  readability-identifier-naming.LocalVariableIgnoredRegexp: '^.{1,2}$|(ArgsE|A1E|A2E|ERows|ECols|A1_ptr|A2_ptr)'
  readability-identifier-naming.MacroDefinitionCase: 'UPPER_CASE'
  readability-identifier-naming.MemberCase: 'lower_case'
  readability-identifier-naming.MemberSuffix: '_'
  readability-identifier-naming.MemberIgnoredRegexp: '^.{1,3}$|(A_ptr_|data1D_)'
  readability-identifier-naming.MethodCase: 'lower_case'
  readability-identifier-naming.MethodIgnoredRegexp: '(.*[12]D)$|(blockN)'
  readability-identifier-naming.ParameterCase: 'lower_case'
  readability-identifier-naming.ParameterIgnoredRegexp: '^.{1,2}$|(AArgs|AArgs_and_xargs|xargs_and_A|A1E|A2E)'
  readability-identifier-naming.StructCase: 'CamelCase'
  readability-identifier-naming.TemplateParameterCase: 'CamelCase'
  readability-identifier-naming.ValueTemplateParameterCase: 'lower_case'
  readability-identifier-naming.ValueTemplateParameterIgnoredRegexp: '^.{1,2}$'
  readability-identifier-naming.VariableCase: 'lower_case'

  readability-implicit-bool-conversion.AllowIntegerConditions: 'false'
  readability-implicit-bool-conversion.AllowLogicalOperatorConversion: 'false'
  readability-implicit-bool-conversion.AllowPointerConditions: 'false'
  readability-implicit-bool-conversion.UseUpperCaseLiteralSuffix: 'true'
  readability-inconsistent-declaration-parameter-name.IgnoreMacros: 'false'
  readability-inconsistent-declaration-parameter-name.Strict: 'true'
  readability-magic-numbers.IgnoreAllFloatingPointValues: 'false'
  readability-magic-numbers.IgnoreBitFieldsWidths: 'true'
  readability-magic-numbers.IgnorePowersOf2IntegerValues: 'false'
  readability-magic-numbers.IgnoreTypeAliases: 'false'
  readability-magic-numbers.IgnoreUserDefinedLiterals: 'false'
  readability-magic-numbers.IgnoredFloatingPointValues: '1.0;100.0;'
  readability-magic-numbers.IgnoredIntegerValues: '1;2;3;4;'
  readability-named-parameter.InsertPlainNamesInForwardDecls: 'false'
  readability-operators-representation.BinaryOperators: ''
  readability-operators-representation.OverloadedOperators: ''
  readability-qualified-auto.AddConstToQualified: 'true'
  readability-qualified-auto.AllowedTypes: ''
  readability-qualified-auto.IgnoreAliasing: 'true'
  readability-redundant-casting.IgnoreMacros: 'false'
  readability-redundant-casting.IgnoreTypeAliases: 'false'
  readability-redundant-declaration.IgnoreMacros: 'false'
  readability-redundant-inline-specifier.StrictMode: 'true'
  readability-redundant-member-init.IgnoreBaseInCopyConstructors: 'false'
  readability-redundant-member-init.IgnoreMacros: 'false'
  readability-redundant-qualified-alias.OnlyNamespaceScope: 'false'
  readability-redundant-smartptr-get.IgnoreMacros: 'false'
  readability-redundant-string-init.StringNames: '::std::basic_string_view;::std::basic_string'
  readability-simplify-boolean-expr.ChainedConditionalAssignment: 'false'
  readability-simplify-boolean-expr.ChainedConditionalReturn: 'false'
  readability-simplify-boolean-expr.IgnoreMacros: 'false'
  readability-simplify-boolean-expr.SimplifyDeMorgan: 'true'
  readability-simplify-boolean-expr.SimplifyDeMorganRelaxed: 'false'
  readability-simplify-subscript-expr.Types: '::std::basic_string;::std::basic_string_view;::std::vector;::std::array;::std::span;::spp::StrictArray1D;::spp::StrictArray2D'
  readability-static-accessed-through-instance.NameSpecifierNestingThreshold: '3'
  readability-string-compare.StringLikeClasses: '::std::basic_string;::std::basic_string_view'
  readability-suspicious-call-argument.Abbreviation: 'true'
  readability-suspicious-call-argument.Abbreviations: 'str=string;lst=list;arr=array;num=number;ptr=pointer;i=index;ln=line;cpy=copy;src=source;dest=destination;val=value;idx=index;vec=vector;wdth=width;nr=number;elem=element;srv=server;pos=position;cl=client;stmt=statement;len=length;buf=buffer;dist=distancedst=distance;hght=height;var=variable;addr=address;col=column;attr=attribute;cnt=count;ref=reference'
  readability-suspicious-call-argument.Dice: 'true'
  readability-suspicious-call-argument.DiceDissimilarBelow: '60'
  readability-suspicious-call-argument.DiceSimilarAbove: '70'
  readability-suspicious-call-argument.Equality: 'true'
  readability-suspicious-call-argument.JaroWinkler: 'true'
  readability-suspicious-call-argument.JaroWinklerDissimilarBelow: '75'
  readability-suspicious-call-argument.JaroWinklerSimilarAbove: '85'
  readability-suspicious-call-argument.Levenshtein: 'true'
  readability-suspicious-call-argument.LevenshteinDissimilarBelow: '50'
  readability-suspicious-call-argument.LevenshteinSimilarAbove: '66'
  readability-suspicious-call-argument.MinimumIdentifierNameLength: '3'
  readability-suspicious-call-argument.Prefix: 'true'
  readability-suspicious-call-argument.PrefixDissimilarBelow: '25'
  readability-suspicious-call-argument.PrefixSimilarAbove: '30'
  readability-suspicious-call-argument.Substring: 'true'
  readability-suspicious-call-argument.SubstringDissimilarBelow: '40'
  readability-suspicious-call-argument.SubstringSimilarAbove: '50'
  readability-suspicious-call-argument.Suffix: 'true'
  readability-suspicious-call-argument.SuffixDissimilarBelow: '25'
  readability-suspicious-call-argument.SuffixSimilarAbove: '30'
  readability-uniqueptr-delete-release.PreferResetCall: 'false'
  readability-uppercase-literal-suffix.IgnoreMacros: 'false'
  readability-uppercase-literal-suffix.NewSuffixes: 'L;LL;LU;LLU;U;UL;ULL;F'
  readability-use-std-min-max.IncludeStyle: llvm
SystemHeaders: false
...

